
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}

html{
    scroll-behavior: smooth;
    background-color: #030303;
}

/* Style header | navbar */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: #000000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    z-index: 1000;
}

.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .container h1 {
    font-family: "Russo One", sans-serif;
    font-weight: normal;
    padding: 5px 12px;
    margin-right: 2%;
    cursor: pointer;
    color: #fcfcff;
}

header .container h1 span {
    color: #650379;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

header nav li {
    margin: 0 12px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}

header nav li a:hover {
    color: #650379;
}

header .btn-login {
    display: flex;
    gap: 10px;
}

.btn-login button {
    background-color: #650379;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login button:hover {
    color: #ffffff;
    background-color: #000000;
}


section#home {
    width: 100%;
    height: 60vh;
    background: url('img/banner65-.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    position: relative;
}
/* Style section novidades*/

.novidades {
    margin: 100px auto; 
    width: 100%;
} 

.Titulos{
    width: 500px;
    text-align: center;
    font-weight: lighter;
    font-family: "Kanit", sans-serif;
    padding: 16px;
    margin: 32px 0;
    font-size: 20px;
    color: #fff9f9;
    margin-top: 150px;
    margin-left: 200px;
    margin-bottom: 150px;
    transform: skewX(-15deg);
    box-shadow: #650379 0 .2rem 2rem;
    text-transform: uppercase;
}

.novidades {
    margin: 100px auto; 
    width: 100%;
    position: relative;
}
.info {
    text-align: center;
    margin-top: 5px;
}

.product-name {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    color: #fcfcff;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.product-price {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    color: #650379;
    font-weight: bold;
}

.carousel {
    position: relative;
    width: 80%; 
    max-width: 1400px; 
    margin: 0 auto; 
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    min-width: 200px; 
    margin: 10px;
    flex: 0 0 auto;
    position: relative;
    box-sizing: border-box;
    transition: transform 0.3s ease; 
}


.carousel-item img {
    width: 200px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
}


.carousel-item:hover img {
    transform: scale(1.1); /
}


.info {
    text-align: center;
    margin-top: 5px;
}

.product-name {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    color: #fcfcff;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;

    padding-bottom: 5px;
    margin-top: 15px;
}

.product-price {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    color: #650379;
    font-weight: bold;
    text-decoration: underline;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(151, 21, 184, 0.616);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
    font-size: 1.5em;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: #650379;
}

/*style section produtos */

.divisor {
    margin: 20px auto;
    width: fit-content;
    text-align: center;
}

.divisor img {
    width: 100%;
    max-width: 10000px;
    height: auto;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.divisor img:hover {
    transform: scale(1.05);
    box-shadow: 0 .8rem 1.5rem rgba(0, 0, 0, 0.7);
}
.caixa .btn-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin: 10px 0;
}

.btn-buy,
.btn-details {
    background-color: #650379; 
    border: none;
    color: #fff; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn-buy:hover,
.btn-details:hover {
    background-color: #1b0120; 
}
#Produtos {
    margin: 0 auto;
    padding: 20px;
}


.container-prod {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 10px; 
    box-sizing: border-box; 
}


.caixa {
    background: #110920;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #fff;
    overflow: hidden; 
    flex: 1 2 calc(25% - 20px); 
    box-sizing: border-box; 
}

.caixa:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
}

.caixa .foto {
    position: relative;
    overflow: hidden;
}

.caixa .foto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px; 
}

.caixa .foto img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.caixa .foto .icons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0a0920;
    border: 1px solid #650379;
    color: #fff;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.icon-link:hover {
    background-color: #650379;
}

.caixa .content {
    padding: 15px;
}

.caixa .content h3 {
    font-size: 1.70rem; 
    color: #ffffff; 
    margin: 0;
    margin-bottom: 5px;
}

.caixa .content .des {
    font-size: 0.85rem; 
    color: #d4d0d0; 
    margin: 10px 0;
    line-height: 1.4;
}

.caixa .content .rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.caixa .content .rating .star {
    color: #650379; 
    font-size: 1.25rem;
}

.caixa .content .price {
    font-size: 1.125rem;
    color: #fcfcfc;
    font-weight: bold;
    margin-bottom: 10px;
}

.caixa .content .price span {
    font-size: small;
    color: #650379;
    text-decoration: line-through;
}


/*style form */

#contato {
    padding: 60px 10%;
    text-align: center;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.container-centralizado {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 40px;
}

.form-box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: stretch;
    justify-content: center;
}

.map-container {
    flex: 1.7;
    max-width: 100%;
    min-width: 450px;
    width: 65%;
    display: flex;
    align-items: center;
}

.map-container iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-form h2 {
    margin-bottom: 30px;
    color: #fff;
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-family: "Kanit", sans-serif;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #650379;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-group-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.form-group-button button {
    background-color: #650379;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.form-group-button button:hover {
    background-color: #4a003b;
}

/*aqui acaba o style */
footer {
    background-color: #110920; 
    color: #fff; 
    padding: 20px 0; 
    position: relative;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); 
}

footer .container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 15px; 
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.footer-left {
    flex: 1; 
    text-align: center; 
    margin-right: 100px; 
}

.footer-left .address {
    margin-top: 10px; 
    font-size: 20px; 
}

.footer-right {
    flex: 1; 
    text-align: center;
}

.footer-right p {
    margin-bottom: 10px; 
    font-size: 20px; 
}

.social-icons {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.social-icons a {
    display: flex;
    align-items: center; 
}

.social-icons img {
    width: 44px; 
    height: 44px; 
    transition: opacity 0.3s ease; 
}

.social-icons img:hover {
    opacity: 0.8; 
}

.footer-apps {
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
}

.footer-apps p {
    margin-bottom: 5px; 
    font-size: 20px; 
}

.app-icons {
    display: flex;
    justify-content: center; 
    gap: 15px; 
}

.app-icons a {
    display: flex; 
    align-items: center; 
}

.app-icons img {
    width: 120px; 
    height: auto; 
    transition: opacity 0.3s ease; 
}

.app-icons img:hover {
    opacity: 0.8; 
}






























@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .container h1 {
        margin-right: 0;
        margin-bottom: 10px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav li {
        margin: 10px 0;
    }

    .btn-login {
        margin-top: 10px;
        flex-direction: column;
    }

    .btn-login button {
        margin: 5px 0;
    }

  @media (max-width: 768px) {
    .Titulos {
        font-size: 1.5em;
    }

    .carousel-prev, .carousel-next {
        font-size: 1.2em;
        padding: 8px;
    }

    .carousel-item img {
        width: 150px;
        height: 225px;
    }
}

@media (max-width: 480px) {
    .Titulos {
        font-size: 1.2em;
    }

    .carousel-prev, .carousel-next {
        font-size: 1em;
        padding: 6px;
    }

    .carousel-item img {
        width: 120px;
        height: 180px;
    }
}

@media (max-width: 768px) {
    .divisor {
        margin-top: 50px; 
    }

    .divisor img {
        max-height: 150px; 
    }
}

@media (min-width: 1200px) {
    .caixa {
        flex: 1 1 calc(25% - 20px); 
    }
}

@media (max-width: 1199px) and (min-width: 900px) {
    .caixa {
        flex: 1 1 calc(33.333% - 20px); 
    }
}

@media (max-width: 899px) and (min-width: 600px) {
    .caixa {
        flex: 1 1 calc(50% - 20px); 
    }
}

@media (max-width: 599px) {
    .caixa {
        flex: 1 1 calc(100% - 20px); 
    }
}

@media (max-width: 400px) {
    .icon-link {
        font-size: 1.2rem; 
    }

    .caixa .content h3 {
        font-size: 1.25rem; 
    }

    .caixa .content .des {
        font-size: 0.75rem; 
    }
}

@media (max-width: 1200px) {
    .caixa {
        flex: 1 2 calc(33.33% - 20px);
    }
}

@media (max-width: 800px) {
    .caixa {
        flex: 1 2 calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    .caixa {
        flex: 1 1 100%;
    }
}

@media (max-width: 1200px) {
    .map-container {
        width: 60%;
    }

    .container-form {
        max-width: 500px;
    }
}

@media (max-width: 992px) {
    .map-container {
        width: 100%;
        min-width: auto;
    }

    .form-box {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    #contato {
        padding: 60px 5%;
    }

    .map-container iframe {
        height: 300px;
    }

    .container-form h2 {
        font-size: 1.25rem;
    }

    .form-group input, .form-group textarea {
        font-size: 0.875rem;
    }

    .form-group-button button {
        font-size: 0.875rem;
        padding: 10px 15px;
    }
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; 
        text-align: center; 
    }

    .footer-left, .footer-right {
        flex: 1 100%; 
        margin: 10px 0; 
    }

    .footer-right {
        order: 2; 
    }

    .footer-apps {
        margin-top: 20px; 
    }

    .social-icons, .app-icons {
        flex-direction: column; 
    }

    .social-icons a, .app-icons a {
        margin-bottom: 10px; 
    }
}
}